body {
    background-image: url("../images/asanoha-400px.png");
    background-repeat: repeat;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.links {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
}

content {
    width: 960px;
    background-color: #ffffff;
    border-color: #dddddd;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.projectimg {
    position: relative;
    display: inline-block; 

}
.project {
    background-color: teal;
    color: white;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    z-index: 500;
    position: absolute;
    left: 0;
    right: 0;     
    bottom: 20%;
    
}

footer {
    background-color: #666666;
    color: white;
    size: 10px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;     
    bottom:0;
    width:100%;
    
}
/* Background pattern from Toptal Subtle Patterns */